<!-- LEFT SIDEBAR -->
<div id="slide-out-left" class="sidenav">
    <!-- Sidebar profile -->
    <div class="top-left-nav">
        <div class="profile-cover">
            <img src="~/assets/images/yetkilim-logo.png" alt="">
        </div>
        @*<div class="profile-caption">
                <div class="pic-thumb">
                    <img src="~/assets/images/no-img.jpg" alt="">
                </div><!-- .pic-thumb -->

                <a href="#" class="dropdown-trigger" data-target="sidedropdown">
                    <span class="profile-name">John Doe</span>
                    <span class="desc">@@johndoe</span>
                    <span class="icon"><span class="ti-angle-down"></span></span>
                </a>
                <ul id="sidedropdown" class="dropdown-content">
                    <li><a href="#!"><i class="material-icons">mail_outline</i> Inbox</a></li>
                    <li><a href="#!"><i class="material-icons">star_border</i> Starred</a></li>
                    <li><a href="#!"><i class="material-icons">history</i> History</a></li>
                    <li class="divider"></li>
                    <li><a href="#!"><i class="material-icons">exit_to_app</i> Signout</a></li>
                </ul><!-- .dropdown-content -->
            </div>*@
    </div><!-- .top-left-nav -->
    <!-- App/Site Menu -->
    <div id="main-menu">
        <ul>
            <li class="header">Kullanıcı</li>
            <li><a href="@Url.Action("Index", "Home")"><span class="icon ti-home"></span> Anasayfa</a></li>
            @if (User?.Identity?.IsAuthenticated == true)
            {
                <li><a href="@Url.Action("Profile", "Account")"><span class="icon ti-user"></span> Profilim</a></li>
                <li><a href="@Url.Action("SignIn", "Auth")"><span class="icon ti-email"></span> Mesajlarım (Yakında!)</a></li>
                <li><a href="@Url.Action("MyFeedbacks", "Account")"><span class="icon ti-comment-alt"></span> Değerlendirmelerim</a></li>
                <li><a href="@Url.Action("SignIn", "Auth")"><span class="icon ti-medall"></span> Ödüllerim (Yakında!)</a></li>
                <li><a href="@Url.Action("SignOut", "Auth")"><span class="icon ti-power-off"></span> Çıkış Yap</a></li>
            }
            else
            {
                <li><a href="@Url.Action("SignIn", "Auth")"><span class="icon ti-user"></span> Giriş Yap</a></li>
                <li><a href="@Url.Action("Search", "Home")"><span class="icon ti-pencil-alt"></span> Değerlendir</a></li>
            }
            <li class="header">İşletme</li>
            <li><a href="@Url.Action("Index", "Home")"><span class="icon ti-user"></span> İşletme Başvurusu</a></li>
            <li class="header">Genel</li>
            <li><a href="@Url.Action("Index", "Home")"><span class="icon ti-file"></span> SSS</a></li>
            <li><a href="@Url.Action("Contact", "Home")"><span class="icon ti-envelope"></span> İletişim</a></li>
        </ul>
    </div>
    <!-- End Site/App Menu -->
</div>
<!-- END LEFT SIDEBAR -->

