@model PlaceSearchResultViewModel
<style>

    .searchbar {
        display: none;
        padding: 25px 0 24px 0;
        -webkit-transition: padding ease .3s;
        -moz-transition: padding ease .3s;
        transition: padding ease .3s;
    }

    .with-tabs .searchbar {
        padding: 27px 0 15px 0;
    }

    .fly .searchbar {
        padding: 14px 0 13px 0;
    }

    .searchbar.show {
        display: block;
        position: relative;
    }

    .searchbar .input-field {
        margin: 0;
        width: calc(100% - 30px);
        position: relative;
    }


    .searchbar input[type="text"]::-webkit-input-placeholder {
        color: rgba(0,0,0,.1) !important;
    }

    .searchbar input[type="text"]:-moz-placeholder {
        color: rgba(0,0,0,.1) !important;
    }

    .searchbar input[type="text"]::-moz-placeholder {
        color: rgba(0,0,0,.1) !important;
    }

    .searchbar input[type="text"]:-ms-input-placeholder {
        color: rgba(0,0,0,.1) !important;
    }

    .searchbar .input-field input[type=text]:not(.browser-default):focus:not([readonly]) {
        border-bottom: 0;
        -webkit-box-shadow: 0 0 0 0 rgba(188,231,245,.5);
        box-shadow: 0 0 0 0 rgba(188,231,245,.5);
    }

    .searchbar .search-btn {
        font-size: 16px;
        position: absolute;
        right: 0;
        top: 45%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        padding: 0 0 0 0;
        cursor: pointer;
        /*color: #FC5D5D;*/
        line-height: 1.7;
    }

    .with-tabs .searchbar .search-btn {
        top: 40px;
    }
</style>
<div class="container">
    <div class="row no-mb">
        <div class="col s12">
            <div class="searchbar show">
                <div class="input-field">
                    <input placeholder="Mekan adı..." id="search_text" type="text" value="@Model.SearchText" class="validate">
                    <span class="helper-text" data-error="Lütfen en az 3 karakter giriniz."></span>
                </div>
                <div class="search-btn">
                    <span class="ti-search"></span>
                </div>
            </div>
            <!-- Content container -->
            <div class="content-container no-padding-top">
                @if (Model.Places != null)
                {
                    if (Model.Places.Count > 0)
                    {
                        <!-- Page title -->
                        <div class="page-title animated fadeInRight">
                            Mekanlar
                        </div>
                        <!-- .page-title -->


                        <!-- Product Small List -->
                        <ul class="product-small-list animated fadeInUp">
                            @foreach (var place in Model.Places)
                            {
                                <li class="valign-wrapper">
                                    <div class="entry-thumb">
                                        <a href="#!">
                                            <img src="http://placeimg.com/115/115/arch?v=@Guid.NewGuid()" alt="">
                                        </a>
                                    </div>
                                    <div class="product-ctn">
                                        <div class="product-name">
                                            <a href="#!">
                                                @place.Name
                                            </a>
                                        </div>
                                        @*<div class="product-rating">
                                                <i class="fa fa-star active"></i>
                                                <i class="fa fa-star active"></i>
                                                <i class="fa fa-star active"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>*@
                                        @*<div class="product-price">
                                                <span class="product-price-before">$ 499.00</span>
                                                <span class="price-current">$ 472.5</span>
                                            </div>*@
                                        <div class="mt-3">
                                            <a class="btn" asp-route-returnUrl="@Url.Action("Feedback", "Home" , new  {id= place.Id})" asp-route-fr="true" asp-controller="Auth" asp-action="SignIn">DEĞERLENDİR</a>
                                        </div>
                                    </div>
                                </li>
                            }
                        </ul>
                        <!-- End Product Small List -->
                        <!-- Pagination -->
                        <!-- You can also use another pagination style like
                        page number pagination. See another page to view the example
                        -->
                        @*<a class="load-more" href="#!">Load more</a>*@
                    }
                    else
                    {
                        <div class="alert is-primary x-hidden-focus">
                            <p class="alert-title"><i class="fa fa-search"></i> Bilgilendirme</p>
                            <p><b>'@Model.SearchText'</b> aramanıza uygun sonuç bulunamadı.</p>
                        </div>
                    }
                }
                else
                {
                    <div class="alert is-primary x-hidden-focus">
                        <p class="alert-title"><i class="fa fa-search"></i> Bilgilendirme</p>
                        <p>Arama yapmak için yukardaki kutucuğa arama yapmak istediğiniz mekanın adını girebilirsiniz.</p>
                    </div>

                    <div class="row shop-category mt-4">
                        <div class="col s6 m6 l2 location-search">
                            <a href="#!" class="icon">
                                <span class="ti-location-pin"></span>
                            </a>
                            <div class="caption truncate">
                                <a href="#!">Konum ile Ara</a>
                            </div>
                        </div>
                        <div class="col s6 m6 l2">
                            <a href="#!" class="icon">
                                <span class="ti-camera"></span>
                            </a>
                            <div class="caption">
                                <a href="#!">QR ile Ara (Yakında!)</a>
                            </div>
                        </div>
                    </div>
                }
            </div><!-- .content-container -->
            <!-- END CONTENT CONTAINER -->
        </div><!-- .col s12 -->
    </div><!-- .row -->
</div><!-- .container -->
@section Scripts{
    <script>
        $("#search_text").keyup(function(event) {
            if (event.keyCode === 13) {
                $(".search-btn").click();
            }
        });

        $(".search-btn").click(function (e) {
            e.preventDefault();

            var $searchText = $("#search_text");
            if ($searchText.val().length < 3) {
                $searchText.addClass("invalid");

            } else {
                window.location = "@Url.Action("Search","Home")" + "?q=" + $searchText.val();
            }

        });
    </script>
}
