@using Yetkilim.Domain.DTO
@using Yetkilim.Domain.Enums
@model PanelUserFormModel
<div class="col-12">
    <div class="example">
        <div class="description">
            <div class="description-text">
                <h5>Kullanıcı Bilgileri</h5>
            </div>
        </div>
        <div class="source-preview-wrapper">
            <div class="preview">
                <div class="preview-elements">
                    @if (string.IsNullOrWhiteSpace(Model.FormMessage) == false)
                    {
                        <div class="alert @(Model.IsSuccess ? "alert-success": "alert-danger") alert-dismissible fade show" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                            @Model.FormMessage
                            @if (Model.IsSuccess)
                            {
                                <a class="alert-link" href="@Url.Action("Index")">Kullanıcı listesine dön.</a>
                            }
                        </div>
                    }
                    <div class="container">
                        <form method="post" enctype="multipart/form-data" action="@ViewData["Action"]">
                            <div class="form-group row">
                                <label for="txtFirmName" class="col-sm-2 col-form-label">Ad Soyad</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="txtFirmName" name="Name" value="@Model.Name" placeholder="Ad Soyad">
                                </div>
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="form-group row">
                                <label for="txtManagerEmail" class="col-sm-2 col-form-label">E-Posta</label>
                                <div class="col-sm-10">
                                    <input type="email" class="form-control" id="txtManagerEmail" name="Email" value="@Model.Email" placeholder="E-Posta Adresi">
                                </div>
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="form-group row">
                                <label for="selectPlace" class="col-sm-2 col-form-label">Mekan</label>
                                <div class="col-sm-10">
                                    <select class="form-control" id="selectPlace" name="PlaceId">
                                        <option disabled selected> Seçiniz </option>
                                        @foreach (var place in Model.Places ?? Enumerable.Empty<PlaceDTO>())
                                        {
                                            <option value="@place.Id" selected="@(Model.PlaceId == place.Id ? "selected" : null)">@place.Name</option>
                                        }
                                    </select>
                                </div>
                                <span asp-validation-for="PlaceId" class="text-danger"></span>
                            </div>
                            @if (Model.IsProfile == false)
                            {
                                <div class="form-group row">
                                    <label for="selectRole" class="col-sm-2 col-form-label">Rol</label>
                                    <div class="col-sm-10">
                                        <select class="form-control" id="selectRole" name="Role" required="required">
                                            <option value="@UserRole.Dealer" selected="@(Model.Role == UserRole.Dealer ? "selected" : null)">Şube Yetkilisi</option>
                                            <option value="@UserRole.Admin" selected="@(Model.Role == UserRole.Admin ? "selected" : null)">Firma Yetkilisi</option>
                                            @if (Model.IsSuperAdmin)
                                            {
                                                <option value="@UserRole.SuperAdmin" selected="@(Model.Role == UserRole.SuperAdmin ? "selected" : null)">Super Admin</option>
                                            }
                                        </select>
                                    </div>
                                    <span asp-validation-for="PlaceId" class="text-danger"></span>
                                </div>
                            }
                            @if (Model.IsProfile)
                            {
                                <div class="form-group row">
                                    <label for="txtManagerEmail" class="col-sm-2 col-form-label">Şifre</label>
                                    <div class="col-sm-10">
                                        <input type="email" class="form-control" id="txtManagerEmail" name="OldPassword" aria-describedby="emailHelp" value="" placeholder="Şifre">
                                        <small id="emailHelp" class="form-text text-muted">Şifrenizi değiştirmek istediğinizde giriniz.</small>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="txtManagerEmail" class="col-sm-2 col-form-label">Yeni Şifre</label>
                                    <div class="col-sm-10">
                                        <input type="email" class="form-control" id="txtManagerEmail" name="NewPassword" aria-describedby="emailHelp" value="" placeholder="Yeni Şifre">
                                        <small id="emailHelp" class="form-text text-muted">Şifrenizi değiştirmek istediğinizde giriniz.</small>
                                    </div>
                                </div>
                            }
                            <div class="form-group row">
                                <div class="col-sm-10">
                                    <button type="submit" class="btn btn-primary">Kaydet</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#selectPlace").select2();
        $("#selectRole").select2();
    });

</script>