@using Yetkilim.Domain.DTO
@model PromotionViewModel
<div class="doc data-table-doc page-layout simple full-width">

    <!-- HEADER -->
    <div class="page-header bg-primary text-auto p-6 row no-gutters align-items-center justify-content-between">
        @*<h1 class="doc-title h4" id="content">Değerlendirmeler</h1>*@
        <div id="selectPlaceDiv" class="col-auto order-2 order-md-1">
        </div>
        <div class="col-auto order-1 order-md-2">
            <a href="@Url.Action("Create")" class="btn btn-light">YENİ PROMOSYON TANIMLA</a>
        </div>
    </div>

    <!-- / HEADER -->
    <!-- CONTENT -->
    <div class="page-content p-6">
        <div class="content container">
            <div class="row">

                <div class="col-12">
                    <div class="example ">

                        <div class="description">
                            <div class="description-text">
                                <h3>Promosyonlar</h3>
                            </div>
                        </div>

                        <div class="source-preview-wrapper">
                            <div class="preview">
                                <div class="preview-elements">

                                    <table id="sample-data-table" class="table">
                                        <thead>
                                        <tr>
                                            <th class="secondary-text">
                                                <div class="table-header">
                                                    <span class="column-title">Mekan</span>
                                                </div>
                                            </th>
                                            <th class="secondary-text">
                                                <div class="table-header">
                                                    <span class="column-title">Kullanıcı Adı</span>
                                                </div>
                                            </th>
                                            <th class="secondary-text">
                                                <div class="table-header">
                                                    <span class="column-title">Kullanıcı E-Posta</span>
                                                </div>
                                            </th>
                                            <th class="secondary-text">
                                                <div class="table-header">
                                                    <span class="column-title">Promosyon</span>
                                                </div>
                                            </th>
                                            <th class="secondary-text">
                                                <div class="table-header">
                                                    <span class="column-title">Son Kullanma Tarihi</span>
                                                </div>
                                            </th>
                                            <th class="secondary-text">
                                                <div class="table-header">
                                                    <span class="column-title">Durum</span>
                                                </div>
                                            </th>
                                            <th class="secondary-text">
                                                <div class="table-header">
                                                    <span class="column-title">İşlemler</span>
                                                </div>
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        @foreach (var promotion in Model.Promotions ?? Enumerable.Empty<PromotionDTO>())
                                        {
                                            <tr>
                                                <td>@promotion.Place.Name</td>
                                                <td>@promotion.User.Name</td>
                                                <td>@promotion.User.Email</td>
                                                <td>@promotion.Message</td>
                                                <td>@promotion.DueDate.ToString("dd.MM.yyyy")</td>
                                                <td>@promotion.Status</td>
                                                @if (promotion.Status == "Aktif")
                                                {
                                                    <td>@promotion.Id</td>
                                                }
                                                else
                                                {
                                                    <td></td>
                                                }
                                            </tr>
                                        }
                                        </tbody>
                                    </table>

                                    <script type="text/javascript">
                                        $('#sample-data-table').DataTable({
                                            responsive: true,
                                            dom: 'rt<"dataTables_footer"ip>',
                                            "language": {
                                                "url": "//cdn.datatables.net/plug-ins/1.10.19/i18n/Turkish.json"
                                            },
                                            scrollX: true,
                                            "order": [],
                                            initComplete: function () {
                                                this.api().columns().every(function (a, b, c) {
                                                    if (a > 0)
                                                        return ;
                                                    var column = this;
                                                    var select = $('<select id="selectPlace"><option value="">Hepsi</option></select>')
                                                        .appendTo("#selectPlaceDiv")
                                                        .on('change', function () {
                                                            var val = $.fn.dataTable.util.escapeRegex(
                                                                $(this).val()
                                                            );

                                                            column
                                                                .search(val ? '^' + val + '$' : '', true, false)
                                                                .draw();
                                                        });

                                                    column.data().unique().sort().each(function (d, j) {
                                                        select.append('<option value="' + d + '">' + d + '</option>');
                                                    });
                                                });
                                            },
                                            "columnDefs":
                                            [
                                                {
                                                    "targets": 6,
                                                    "orderable": false,
                                                    render: function (data, type, row, meta) {
                                                        if (type === 'display' && row[5] === 'Aktif') {
                                                            data =
                                                                '<a class="btn btn-danger" onclick=UsedPromotion("' + encodeURIComponent(data) + '");>Kullanıldı</a>';
                                                        }
                                                        return data;
                                                    }
                                                }

                                            ]
                                        });

                                        $(document).ready(function () {
                                            $("#selectPlace").select2();
                                        });
                                    </script>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- CONTENT -->

</div>

<script>
    function UsedPromotion(id)
    {
        if (confirm("Promosyon kullanıldı yapılacak, emin misiniz?"))
        {
            UsedPromotionReq(id);
        }
        else
        {
            return false;
        }
    }


    function UsedPromotionReq(Id)
    {
        var url = "@Url.Action("Update", "Promotion")";

        $.post(url, { Id: Id }, function (res)
        {
            if (res.isSuccess === true) {
                alert("İşlem başarılı!");
                window.location.reload();
            }
            else
            {
                alert("Hata oluştu! : " + res.formMessage);
            }
        });
    }
</script>