<div id="e-commerce-products" class="page-layout carded full-width">

    <div class="top-bg bg-primary"></div>

    <!-- CONTENT -->
    <div class="page-content-wrapper">

        <!-- HEADER -->
        <div class="page-header light-fg row no-gutters align-items-center justify-content-between">

            <!-- APP TITLE -->
            <div class="col-12 col-sm">

                <div class="logo row no-gutters justify-content-center align-items-start justify-content-sm-start">
                    <div class="logo-icon mr-3 mt-1">
                        <i class="icon-cube-outline s-6"></i>
                    </div>
                    <div class="logo-text">
                        <div class="h4">Mekanlar</div>
                        @*<div class="">Mekan Sayısı: @ViewData["PlaceCount"]</div>*@
                    </div>
                </div>

            </div>
            <!-- / APP TITLE -->
            <!-- SEARCH -->
            <div class="col search-wrapper px-2">

                <div class="input-group">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-icon">
                            <i class="icon icon-magnify"></i>
                        </button>
                    </span>
                    <input id="products-search-input" type="text" class="form-control" placeholder="En az 3 karakter girerek arama yapabilirsiniz" aria-label="Search" />
                </div>

            </div>
            <!-- / SEARCH -->

            <div class="col-auto">
                <a href="@Url.Action("Create")" class="btn btn-light">YENİ MEKAN EKLE</a>
            </div>

        </div>
        <!-- / HEADER -->

        <div class="page-content-card">

            <table id="company-list-table" class="table dataTable">
                <thead>
                    <tr>
                        <th>
                            <div class="table-header">
                                <span class="column-title">ID</span>
                            </div>
                        </th>
                        <th>
                            <div class="table-header">
                                <span class="column-title">Guest</span>
                            </div>
                        </th>
                        <th>
                            <div class="table-header">
                                <span class="column-title">Firma</span>
                            </div>
                        </th>
                        <th>
                            <div class="table-header">
                                <span class="column-title">Mekan</span>
                            </div>
                        </th>
                        <th>
                            <div class="table-header">
                                <span class="column-title">Adres</span>
                            </div>
                        </th>
                        <th>
                            <div class="table-header">
                                <span class="column-title">Lat</span>
                            </div>
                        </th>
                        <th>
                            <div class="table-header">
                                <span class="column-title">Lon</span>
                            </div>
                        </th>
                        <th>
                            <div class="table-header">
                                <span class="column-title">Eklenme Tarihi</span>
                            </div>
                        </th>
                        <th>
                            <div class="table-header">
                                <span class="column-title">İşlemler</span>
                            </div>
                        </th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    <!-- / CONTENT -->
</div>

<script>


    $(document).ready(function() {
        $("#company-list-table").DataTable({
            dom: 'rt<"dataTables_footer"ip>',
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.19/i18n/Turkish.json"
            },
            lengthMenu    : [10, 20, 30, 50, 100],
            pageLength    : 10,
            scrollY       : 'auto',
            scrollX       : false,
            responsive    : true,
            autoWidth     : false,
            scrollCollapse: true,
            //"processing": true, // for show progress bar
            "serverSide": true, // for process server side
            //"filter": true, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "ajax": {
                "url": "@Url.Action("LoadPlaceData")",
                "type": "POST",
                "datatype": "json"
            },
            "columnDefs":
            [
                {
                    "targets": [0],
                    "visible": false,
                    "searchable": false
                },
                {
                    "targets": 7,
                    render:function(data){
                        return moment(data).format('Do MMMM YYYY');
                    }
                },
                {
                    "targets": 8,
                    "orderable": false
                }
            ],
            "columns": [
                { "data": "id", "name": "Id", "autoWidth": true },
                { "data": "guest", "name": "Guest", "autoWidth": true },
                { "data": "companyName", "name": "CompanyName", "autoWidth": true },
                { "data": "name", "name": "Name", "autoWidth": true },
                { "data": "address", "name": "Address", "autoWidth": true },
                { "data": "latitude", "name": "Latitude", "autoWidth": true },
                { "data": "longitude", "name": "Longitude", "autoWidth": true },
                { "data": "createdDate", "name": "CreatedDate", "autoWidth": true },
                {
                    "render": function(data, type, full, meta) {
                        return '<a class="btn btn-info" href="@Url.Action("Update")/' +
                            full.id +
                            '">Düzenle</a>' +
                            "<a href='#' class='btn btn-danger' onclick=DeleteData('" +
                            full.id +
                            "'); >Sil</a>";
                    }
                },
                //{
                //    data: null,
                //    render: function(data, type, row) {
                //        return "<a href='#' class='btn btn-danger' onclick=DeleteData('" + row.Id + "'); >Delete</a>";
                //    }
                //}
            ],
            initComplete  : function () {
                var api = this.api(),
                    searchBox = $('#products-search-input');

                // Bind an external input as a table wide search box
                if ( searchBox.length > 0 )
                {
                    searchBox.bind('input', function (e) {
                        // If the length is 3 or more characters, or the user pressed ENTER, search
                        if (this.value.length >= 3 || e.keyCode == 13) {
                            // Call the API search function
                            api.search(event.target.value).draw();
                        }
                        // Ensure we clear the search if they backspace far enough
                        if (this.value == "") {
                            api.search(event.target.value).draw();
                        }
                        return;

                    });
                }
            },
        });
        // Call datatables, and return the API to the variable for use in our code
        // Binds datatables to all elements with a class of datatable
        var dtable = $(".datatable").dataTable().api();

        // Grab the datatables input box and alter how it is bound to events
        $(".dataTables_filter input")
            .unbind() // Unbind previous default bindings
            .bind("input",
                function (e) { // Bind our desired behavior
                    // If the length is 3 or more characters, or the user pressed ENTER, search
                    if (this.value.length >= 3 || e.keyCode == 13) {
                        // Call the API search function
                        dtable.search(this.value).draw();
                    }
                    // Ensure we clear the search if they backspace far enough
                    if (this.value == "") {
                        dtable.search("").draw();
                    }
                    return;
                });

    });


    function DeleteData(id)
    {
        if (confirm("Kaydı silmek istediğinize emin misiniz? \nİlişkili kullanıcılar ve bildirimler de silinecektir."))
        {
            Delete(id);
        }
        else
        {
            return false;
        }
    }


    function Delete(Id)
    {
        var url = "@Url.Action("Delete","Place")";

        $.post(url, { Id: Id }, function (res)
        {
            if (res.isSuccess === true) {
                oTable = $('#company-list-table').DataTable();
                oTable.draw();
            }
            else {
                alert("Hata oluştu! : " + res.formMessage);
            }
        });
    }

</script>