@using Yetkilim.Global
@model CompanyFormModel
<div class="col-12">
    <div class="example">
        <div class="description">
            <div class="description-text">
                <h5>Firma Bilgileri</h5>
            </div>
        </div>

        <div class="source-preview-wrapper">
            <div class="preview">
                <div class="preview-elements">
                    @if (string.IsNullOrWhiteSpace(Model.FormMessage) == false)
                    {
                        <div class="alert @(Model.IsSuccess ? "alert-success" : "alert-danger") alert-dismissible fade show" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                            @Model.FormMessage
                            @if (Model.IsSuccess)
                            {
                                <a class="alert-link" href="@Url.Action("Index")">Firma listesine dön.</a>
                            }
                        </div>
                    }
                    <div class="container">
                        <form method="post" enctype="multipart/form-data" id="frmCompany" action="@ViewData["Action"]">
                            <div class="form-group row">
                                <label for="txtFirmName" class="col-sm-2 col-form-label">Firma Adı</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="txtFirmName" name="Name" value="@Model.Name" placeholder="Firma Adı">
                                </div>
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="form-group row">
                                <label for="selectType" class="col-sm-2 col-form-label">Tür</label>
                                <div class="col-sm-10">
                                    <select class="form-control" id="selectType" name="CompanyTypeId" required="required">
                                        <option value="1" selected="@(Model.CompanyTypeId == 1 ? "selected" : null)">Cafe</option>
                                        <option value="2" selected="@(Model.CompanyTypeId == 2 ? "selected" : null)">Restaurant</option>
                                    </select>
                                </div>
                                <span asp-validation-for="CompanyTypeId" class="text-danger"></span>
                            </div>
                            <div class="form-group row">
                                <label for="txtAddress" class="col-sm-2 col-form-label">Adres</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" id="txtAddress" name="Address" rows="3" placeholder="Adres">@Model.Address</textarea>
                                </div>
                                <span asp-validation-for="Address" class="text-danger"></span>
                            </div>
                            @if (string.IsNullOrWhiteSpace(Model.Image) == false)
                            {
                                <div class="form-group row">
                                    <label for="imgLogo" class="col-sm-2 col-form-label">Logo</label>
                                    <div class="col-sm-10">
                                        <input type="hidden" name="Image" value="@Model.Image" />
                                        <img class="img-thumbnail" src="/@Consts.UploadFolders.AdminBaseFolder/@Model.Image" />
                                    </div>
                                </div>
                            }
                            <div class="form-group row">
                                <label for="imgLogo" class="col-sm-2 col-form-label">Logo</label>
                                <div class="custom-file col-sm-10">
                                    <input type="file" class="custom-file-input form-control" id="imgLogo" name="LogoFile">
                                    <label class="custom-file-label" for="imgLogo">Dosya Seç</label>
                                </div>
                                <span asp-validation-for="LogoFile" class="text-danger"></span>
                            </div>
                            @if (Model.IsUpdate == false)
                            {
                                <div class="form-group row">
                                    <label for="txtManagerName" class="col-sm-2 col-form-label">Yetkili Adı</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="txtManagerName" name="ManagerName" value="@Model.ManagerName" placeholder="Yetkili Adı">
                                    </div>
                                    <span asp-validation-for="ManagerName" class="text-danger"></span>
                                </div>

                                <div class="form-group row">
                                    <label for="txtManagerSurname" class="col-sm-2 col-form-label">Yetkili Soyadı</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="txtManagerSurname" name="ManagerSurname" value="@Model.ManagerSurname" placeholder="Yetkili Soyadı">
                                    </div>
                                    <span asp-validation-for="ManagerSurname" class="text-danger"></span>
                                </div>
                                <div class="form-group row">
                                    <label for="txtManagerEmail" class="col-sm-2 col-form-label">Yetkili E-Posta Adresi</label>
                                    <div class="col-sm-10">
                                        <input type="email" class="form-control" id="txtManagerEmail" name="ManagerEmail" value="@Model.ManagerEmail" placeholder="Yetkili E-Posta Adresi">
                                    </div>
                                    <span asp-validation-for="ManagerEmail" class="text-danger"></span>
                                </div>
                            }
                            <div class="form-group row">
                                <label for="selDemo" class="col-sm-2 col-form-label">Misafir İşletme</label>
                                <div class="col-sm-10">
                                    <select class="form-control" asp-for="Demo" asp-items="Model.YesOrNo">
                                        <option>Seçiniz</option>
                                    </select>
                                </div>
                                <span asp-validation-for="Demo" class="text-danger"></span>
                            </div>
                            <div class="form-group row">
                                <label for="selDemo" class="col-sm-2 col-form-label">Şirket Tipi</label>
                                <div class="col-sm-10">
                                    <select class="form-control" asp-for="CompanyTypeId" asp-items="Model.CompanyTypes">
                                        <option>Seçiniz</option>
                                    </select>
                                </div>
                                <span asp-validation-for="CompanyTypeId" class="text-danger"></span>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-10">
                                    <button type="submit" class="btn btn-primary">Kaydet</button>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .custom-file-label {
        padding: inherit !important;
    }
    .img-thumbnail {
        max-width: 100px;
    }
</style>
<script>
    $(document).ready(function () {
        $("#selectType").select2();
    });

</script>
